.cat-img img{
    width: 90px;
    height: 90px;
}
.cat-img{
    transition: all 0.5s ease-in;

}
.cat-img:hover{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
}
.cat-desc p{
    font-size: 14px;
    margin-left: 8px;
}