.news-latter-s1 h6{
    font-size: 18px;
}
.news-latter-s1 p{
    font-size: 15px;
}
.news-latter-s2 p{
    font-size: 15px;
    line-height: 36px;
}
.news-latter-s3 button{
    font-size: 14px;
}
.main-section-footer h5{
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}
.footer-nav-custom li a{
    font-size: 15px;
    color: rgb(119, 112, 112);
}
.support-rules{
    font-size: 25px;
    color: #218838;
}
.tel-support p, .tel-support a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(119, 112, 112);
}
.social-icon p{
    font-size: 15px;
    color: rgb(119, 112, 112);
}
.social-icon a{
    color: rgb(119, 112, 112);
}
@media screen and (max-width:550px){
    .social-icon a:nth-child(2), .social-icon a:nth-child(3){
        display: none;
    }
}