.login-form  label {
    font-size: 14px;
}
#login-form .modal-footer a{
    font-size: 14px;
    color: rgb(86, 131, 255);
    text-decoration: none;
}
#login-form .custom-control-label{
    padding-top: 2px;
}