.p-image{
    max-width: 190px;
}
.price-off {
    font-size: 12px;
    color: rgb(90, 90, 90);
}
.p-price span{
    float: left;
    margin-top: 3px;
}
.sp-offer-1{
    right: 15px;
    letter-spacing: 1px;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 18px;
    word-spacing: -3px;
}
.banner-style{
    border-radius: 8%;
}
