.custom-nav-tabs-product .nav-link.active, .custom-nav-tabs-product .nav-tabs .nav-item.show .nav-link{
    border-top: 3px solid red;
}
.custom-tab-pane-product p {
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
    color: rgb(85, 78 , 78);
}
.product-all-rate p{
    color: black;
    font-size: 14px;
}
.product-desc-step p i{
    top: 0;
    right: -34px;
    font-size: 17px;
}
.product-desc-step li .p-img-wrapper{
    max-width: 715px;
    margin: 0 auto;
}
.custom-tab-pane-product-details li .key{
    flex: 0 0 20%;
    font-size: 15px;
}
.custom-tab-pane-product-details li .value{
    flex: 0 0 78%;
    font-size: 15px;
    }
.add-comment p:nth-child(2){
    font-size: 15px;
    color: #505050;
    }
    .custom-product-media h5{
        font-size: 17px;
        font-weight: 600;
    }
    .user-details p{
        font-size: 15px;
        font-weight: 600;
    }
    .bg-custom{
        font-size: 15px;
        color: #16ac16;
    }
    .bg-custom-n{
        font-size: 15px;
        color: #DC3545;
    }
    .bg-custom-n i{
        vertical-align: -3px;
    }
    .user-details .p-color {
        font-size: 14px;
    }
    .user-details span{
        font-size: 15px;
    }
    .user-p-comment{
        font-size: 15px;
    }
    .user-p-comment ul.nav li{
        font-size: 13.6px;
        line-height: 22px;
    }
    .user-p-comment ul.nav li i{
        font-size: 11px;
    }   
    .com-vote span{
        font-size: 14x;
        padding: 4px 10px;
        color: #A1A3A8;
    }
    .com-vote{
        font-size: 14px;
        color: #A1A3A8;
    }
    .sp-offer-product {
        border-bottom: 2px solid #DC3545;
    }