.custom-breadcrumb li {
    font-size: 13px;
}
.product-page-rate i{
    color: #ffe234;
    font-size: 16px;
}
.product-page-rate span{
    font-size: 15px;
}
.product-page-price s{
    font-size: 14px;
    color: rgb(112, 104, 104);
}
.product-page-title{
    font-size: 24px;
}
p.describe{
    font-size: 15px;
    line-height: 25px;
    word-spacing: 1px;
}
.product-page-title i{
    color:#97999b;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}
.brand-cat{
    font-size: 13px;
}
.benfit-list i{
    font-size: 7px;
}
.num-produc{
    width: 9%;
    border: 1px solid #A1A3A5;
    border-radius: 6px;
    margin-right: 11px;
    height: 34px;
}
@media screen and (max-width: 736px) {
    .product-detail-part{margin-top: 110px;}
     .product-page-title{font-size:19px;}
     .product-page-title i {font-size: 15px;}
      .product-page-rate{margin-top: 0px!important;}
}