.shipping-wrapper i{
    font-size: 20px;
    margin: 15px 0 0 12px;
    color:#232F3E;
}
.shipping-wrapper p{
    font-size: 13px;
    vertical-align: 10px;
    }
@media screen and (max-width:1199px){
    .shipping-wrapper i{
        font-size: 16px;
   }
    .shipping-wrapper p{
        font-size: 10px;
    }
}   
@media screen and (max-width:976px) and (min-width:767px){
  .shipping-wrapper {
    margin: 0 21px 10px 0;
    padding: 0;
  }
}   
@media screen and (max-width:767px){
  .container div.shipping-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    padding: 5px;
  }
   .shipping-wrapper i{
    font-size: 20px;
    margin-top: 0;
  }
  .shipping-wrapper p{
    font-size: 13px;
  }
}   
.custom-col-xl-4{
    flex: 0 0 26.3% ;
    max-width: 26.3%;
} 
.custom-col-xl-5{
    flex: 0 0 47% ;
    max-width: 47%;
} 
@media screen and (max-width: 991px){
    .custom-col-xl-4{
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 18px;
    }
    .custom-col-xl-5{
        flex: 0 0 100%;
        max-width: 100%;
}
   .orders0{
    -ms-flex-order: 0;
    order: 0;
   }
    .orders1{
    -ms-flex-order: 1;
    order: 1;
    }
    .orders2{
    -ms-flex-order: 2;
    order: 2;
    }
}