.slide-banner{
    max-height: 280px;
}
.custom-col-lg-3{
    flex: 0 0 17% ;
    max-width: 17%;
} 
.custom-col-lg-6{
    flex: 0 0 65%;
    max-width: 65%;
}
@media screen and (max-width: 991px){
    .custom-col-lg-3{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .custom-col-lg-6{
        flex: 0 0 100%;
        max-width: 100%;
}
}