.custom-nav-tabs{
    border-bottom: 0;
}
.custom-nav-tabs .nav-link{
    border: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    font-size: 15px;
    color: rgb(54 , 54, 54);
}
.custom-nav-tabs .nav-link.active, .custom-nav-tabs .nav-item.show .nav-link {
    color: rgb(238, 99, 99);
    background-color: transparent;
    border-color: transparent;
}
.custom-nav-tabs .nav-link:hover, .custom-nav-tabs .nav-link:focus {
    border-color: transparent;
}
.img-offer-size{
    text-align: center;
    height: 220px;
    overflow: hidden;
    margin-top: 24px;
    padding-left: 70px;
}
.img-offer-size img{
    width: 220px;
}
.img-offer-size:hover .first-image, .img-offer-size:hover .second-image{
    transform: translateY(-220px);
}
.img-offer-size .first-image, .img-offer-size .second-image{
    transition: .5s ease-out;
}
.offer-pric s{
    color: rgb(130, 130, 130);
    font-size: 13px;
    padding-right: 6px;
}
.offer-detail{
    flex: 0 0 50%;
    max-width: 50%;
}
.offer-detail a{
    color: #7066ff;
}
.offer-rating i{
    color: #ffe234;
    font-size: 13px;
}
@media screen and (max-width:567px){
    .img-offer-size img{
        width: 140px;
    }
    .img-offer-size{
        height: 140px;
        margin-top: 40px;
    }
    .img-offer-size:hover .first-image, .img-offer-size:hover .second-image{
    transform: translateY(-140px);
    }
    .offer-detail{
        font-size: 13px;
        word-spacing: .2;
    }
    .count-down-timer #demo #second{
        display: none;
    }
    .sp-offer {
        visibility: hidden;
    }
}
.count-down-timer #demo{
    margin-left: 30px;
}
.count-down-timer #demo span {
    margin: 6px;
    width: 28px;
    height: 28px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
}
.count-down-timer #demo #day, .count-down-timer #demo #hours, .count-down-timer #demo #minutes, .count-down-timer #demo #second {
   background-color: black;
   padding: 4px;
   border: 1px solid #000;
   border-radius: 0.25rem ;
}    
.offer-expire-text{
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.offer-expire-text .offer-expire-text-inner {
    padding: 12px;
    font-size: 14px;
}
#day, #hours, #minutes, #second{
    position: relative;
}
#demo #day::after{
    content: 'روز';
    position: absolute;
    top: 38px;
    right: 7px;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
#demo #hours::after{
    content: 'ساعت';
    position: absolute;
    top: 38px;
    right: -2px;
    color: #000;
    font-size: 13px;
    font-weight: 500;

}
#demo #minutes::after{
    content: 'دقیقه';
    position: absolute;
    top: 38px;
    right: -4px;
    color: #000;
    font-size: 13px;
    font-weight: 500;

}
#demo #second::after{
    content: 'ثانیه';
    position: absolute;
    top: 38px;
    right: 0;
    color: #000;
    font-size: 13px;
    font-weight: 500;
}
.s-f-box-shadow{
    box-shadow: 0 0 1px 1px #efefef;
    z-index: 1;
}
.sp-offer{
    right: 0;
    letter-spacing: 1px;
    border-bottom: 2px solid red;
    padding-bottom: 3px;
    font-weight: bold;
    font-size: 20px;
}
.custom-rounded{
    border-radius: 1.25rem;
}