.bg-top-nav{
    background-color: #232f3e;
}
.custom-top-nav, .bg-top-nav p{
    font-size: 13px;
}
.custom-top-nav a{
    padding: 10px;
}
.custom-top-nav .border-right{
    border-color: #4a4a4a!important
}
.custom-btn-font-size {
    font-size: 14px;
}
.shop-card span{
    font-size: 14px;
}
.basket a img{
    width: 64px;
    height: 64px;
}
.basket {
    font-size: 14px;
    width: 300px !important;
}
.custom-navbar-nav{
    font-size: 14px;
}
.custom-nav-link{
    padding-left: 1.5rem !important;
}
/* , .custom-navbar => full width sub-menu */
.custom-navbar-nav .nav-item{
    position: unset !important;
}
 .custom-navbar-nav .nav-item .dropdown-menu{
    color: #fff;
    border-radius: 0;
    top: 54px;
    left: 0!important;
 }
.dropdown-img img{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 250px;
    height: 230px;
}
.dropdown-img a{
    color: rgb(46, 46, 46)!important;
    transition: .4s ease;
}
.dropdown-img a i{
    vertical-align: -3px;
}
.dropdown-img a:hover{
    margin-right: 7px;
    color: rgb(56, 136, 255)!important;
}
::-webkit-input-placeholder{
    font-size: 14px;
}
.account-style span{
    font-size: 14px;
}