@import '_top-nav.css';
@import '_slider.css';
@import'_shipping.css';
@import '_categories.css';
@import'_special-offers.css';
@import'_popular-products.css';
@import'_footer.css';
@import'_login-form.css';
@import'_product-breadcrumb.css';
@import'_product-tabs.css';
@charset "UTF-8"; 
@font-face {
    font-family: IRYekan;
    src: url("/fonts/IRANYekanWebRegular.woff2") format('woff2'),
    url("/fonts/IRANYekanWebRegular.eot")format('eot'),
    url("/fonts/IRANYekanWebRegular.woff")format('woff'),
    url("/fonts/IRANYekanWebRegular.ttf")format('ttf');
    font-style: normal;
    font-size: 18px;
}
 *,
  body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:IRYekan ;
    /* font-size: 16px; */
    /* color:#061D38  ; */
}
body {
    direction: rtl;
}
a {
    text-decoration: none;
}
ul , ol , li {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
p {
    margin: 0;
}
.position-unset{
    position: unset !important;
}

@media (max-width: 576px) {
  .mt-csm-3 {
    margin-top: 1rem !important;
  }
}
@media (max-width: 991px) {
  .mt-clg-3 {
    margin-top: 1rem !important;
  }
}
@media (min-width:1200px){
.container, .container-sm, .container-md, .container-lg, .container-xl {
    max-width: 1240px !important;
}
}
@media screen and (max-width:575.98px) {
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.33%;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width: 83.33%;
    }
    .col-xs-11{
        width: 91.66%;
    }
    .col-xs-12{
        width: 100%;
    }
    .col-xs-offset-0{
        margin-right: 0;
    }
    .col-xs-offset-1{
        margin-right: 8.33%;
    }
    .col-xs-offset-2{
        margin-right: 16.66%;
    }
    .col-xs-offset-3{
        margin-right: 25%;
    }
    .col-xs-offset-4{
        margin-right: 33.33%;
    }
    .col-xs-offset-5{
        margin-right: 41.66%;
    }
    .col-xs-offset-6{
        margin-right: 50%;
    }
    .col-xs-offset-7{
        margin-right: 58.33%;
    }
    .col-xs-offset-8{
        margin-right: 66.66%;
    }
    .col-xs-offset-9{
        margin-right: 75%;
    }
    .col-xs-offset-10{
        margin-right: 83.33%;
    }
    .col-xs-offset-11{
        margin-right: 91.66%;
    }
    .col-xs-offset-12{
        margin-right: 100%;
    }
}
  /* .owl-carousel .owl-nav.disabled{
    display: block;
  } */
.owl-carousel  .owl-nav{
    position: absolute;
    top: 123px;
    width: 100%;
    display: flex;
}
.owl-carousel .owl-nav .owl-next{
    position: absolute;
    left: 18px;
}
.owl-carousel .owl-nav .owl-prev{
    position: absolute;
    right: 12px;
}
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
    width: 30px;
}
.owl-carousel .owl-nav .owl-next span, .owl-carousel .owl-nav .owl-prev span{
    display: block;
    font-size: 53px;
    background-color: #ffff;
    box-shadow: 0 0 5px 4px #efefef;
}
.owl-carousel .owl-nav .owl-next:focus, .owl-carousel .owl-nav .owl-next:focus span, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:focus span{
    outline: none;
}
.owl-carousel-brand .owl-nav{
    top: 40px;
}
.owl-carousel-brand .owl-item img{
    width: 65%;
}
.owl-carousel-brand .card{
    padding: 0 16px;
}

/* zoomy slider customize */
.zoom-mousemove{
    border: none!important;
}
.zoom-thumb{
    margin-top: 40px;
}
@media screen and (max-width:736px){
    .zoom-thumb{margin-top: 5px;}
}